Repository blended-insights/carver-cli: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, jest --findRelatedTests

chore(release): 1.0.0 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  8dea61c76932c2f1d738bbe6ed8ce1e6cdb638c8
Due: none

feat: implement core foundation for Carver CLI
  README.md
  bin/README.md
  eslint.config.mjs
  package.json
  src/commands/index.ts
  src/commands/init.ts
  src/commands/login.ts
  src/commands/logout.ts
  src/commands/prompt.ts
  src/commands/status.ts
  src/commands/watch.ts
  src/index.ts
  src/services/api.ts
  src/services/configService.ts
  src/services/credentialService.ts
  src/services/fileSystem.ts
  src/services/fileWatcher.ts
  src/services/projectInitializer.ts
  src/services/promptService.ts
  src/templates/index.ts
  src/types/index.ts
  src/utils/config.ts
  src/utils/gitignore.ts
  src/utils/logger.ts
  tests/unit/utils/logger.test.ts
Due: eslint --fix, prettier --write, jest --findRelatedTests

chore(release): 1.1.0 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  c4ec8f0b64e2ff06a7ea32ea4b926cb92c73fcd2
Due: none

feat: add docs
  docs/.nojekyll
  docs/assets/hierarchy.js
  docs/assets/highlight.css
  docs/assets/icons.js
  docs/assets/icons.svg
  docs/assets/main.js
  docs/assets/navigation.js
  docs/assets/search.js
  docs/assets/style.css
  docs/hierarchy.html
  docs/index.html
  docs/media/CONTRIBUTING.md
  docs/media/LICENSE
  docs/modules.html
  package.json
Due: eslint --fix, prettier --write

chore(release): 1.2.0 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  1122556264f4c84a30ff4466e22960b00913b229
Due: none

deploy: a731c74ad34fbeb065f2abcdc54cc50baabec6ec
  .nojekyll
  assets/hierarchy.js
  assets/highlight.css
  assets/icons.js
  assets/icons.svg
  assets/main.js
  assets/navigation.js
  assets/search.js
  assets/style.css
  hierarchy.html
  index.html
  media/CONTRIBUTING.md
  media/LICENSE
  modules.html
Due: eslint --fix, prettier --write

feat(watch): implement enhanced file watcher system
  package.json
  src/commands/prompt.ts
  src/commands/status.ts
  src/commands/watch.ts
  src/services/api.ts
  src/services/fileWatcher.ts
  src/types/fileWatcher.ts
  src/types/index.ts
  src/utils/gitignore.ts
  src/utils/hash.ts
Due: eslint --fix, prettier --write, jest --findRelatedTests

chore(release): 1.3.0 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  25eba9cec28d56fefe03b7a1768f129359ec1d00
Due: none

deploy: 6d1b8f5380ef6b7be8db97c09f56d069f58838c5
  hierarchy.html
  index.html
  modules.html
Due: none

feat(api): implement robust API communication layer
  .prettierrc
  package-lock.json
  package.json
  src/commands/index.ts
  src/commands/login.ts
  src/commands/logout.ts
  src/commands/sync.ts
  src/services/api.ts
  src/services/auth.ts
  src/services/index.ts
  src/services/projectInitializer.ts
  src/services/websocket.ts
  src/utils/queue.ts
Due: eslint --fix, prettier --write, jest --findRelatedTests

refactor: prettier clean up
  .github/workflows/ci.yml
  .github/workflows/npm-ci.yml
  .github/workflows/release.yml
  CHANGELOG.md
  CONTRIBUTING.md
  README.md
  commitlint.config.js
  eslint.config.mjs
  jest.config.js
  src/commands/index.ts
  src/commands/init.ts
  src/commands/login.ts
  src/commands/logout.ts
  src/commands/prompt.ts
  src/commands/status.ts
  src/commands/sync.ts
  src/commands/watch.ts
  src/services/api.ts
  src/services/auth.ts
  src/services/configService.ts
  src/services/fileSystem.ts
  src/services/fileWatcher.ts
  src/services/projectInitializer.ts
  src/services/promptService.ts
  src/services/websocket.ts
  src/templates/index.ts
  src/types/fileWatcher.ts
  src/utils/config.ts
  src/utils/gitignore.ts
  src/utils/hash.ts
  src/utils/queue.ts
  tests/integration/commands/init.test.ts
  tests/unit/utils/logger.test.ts
Due: eslint --fix, prettier --write, jest --findRelatedTests

chore(release): 1.4.0 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  868d074a7601efa9862ba1cfbd6b45726bddab80
Due: none

deploy: b47058a78d1f6f4ef2850096b8924d2fc7d35072
  hierarchy.html
  index.html
  media/CONTRIBUTING.md
  modules.html
Due: prettier --write

feat(prompt): implement advanced prompt generation system
  CHANGELOG.md
  package.json
  src/commands/prompt.ts
  src/services/promptService.ts
  src/templates/bugfix.ts
  src/templates/feature.ts
  src/templates/index.ts
  src/templates/refactor.ts
Due: eslint --fix, prettier --write, jest --findRelatedTests

feat: implement testing
  .github/workflows/test.yml
  .husky/commit-msg
  .husky/pre-commit
  .lintstagedrc
  jest.config.js
  package-lock.json
  package.json
  src/services/configService.ts
  src/utils/logger.ts
  tests/TESTING.md
  tests/e2e/workflows/project-lifecycle.test.ts
  tests/integration/commands/init.test.ts
  tests/integration/commands/login.test.ts
  tests/mocks/api.ts
  tests/mocks/fs.ts
  tests/package.json
  tests/performance/scan-performance.test.ts
  tests/performance/watcher-memory.test.ts
  tests/setup/e2e.setup.ts
  tests/setup/integration.setup.ts
  tests/setup/performance.setup.ts
  tests/setup/unit.setup.ts
  tests/unit/services/configService.test.ts
  tests/unit/utils/logger.test.ts
  tests/utils/exec.ts
  tests/utils/process.ts
  tests/utils/time.ts
  tsconfig.test.json
Due: eslint --fix, prettier --write, jest --findRelatedTests

feat: implement testing
  docs/hierarchy.html
  docs/index.html
  docs/media/CONTRIBUTING.md
  docs/modules.html
Due: prettier --write

feat: implement testing
  tests/performance/watcher-memory.test.ts
Due: eslint --fix, prettier --write, jest --findRelatedTests

feat: implement testing
  .husky/pre-commit
  tests/e2e/workflows/project-lifecycle.test.ts
  tests/integration/commands/login.test.ts
  tests/mocks/fs.ts
  tests/utils/process.ts
  tests/utils/time.ts
Due: eslint --fix, prettier --write, jest --findRelatedTests

refactor: remove pkey for now
  eslint.config.mjs
  src/commands/login.ts
  src/services/auth.ts
Due: eslint --fix, prettier --write, jest --findRelatedTests

Path conditions:
  eslint --fix: any of: *.{ts,js,mjs}
  prettier --write: (any of: *.{ts,js,mjs}) or (any of: *.{json,md})
  jest --findRelatedTests: any of: *.ts
